doctype html
html(lang='en')
	head
		title Pic2Learn - your everyday translator
		style
			include ../styles/main.css
	body
		div Pic2Learn
		.title
			img.logo(src='https://s15.postimg.cc/n2ki0p4rr/pic2learn_icon.png')
			h1 !{locals.title}