doctype html
html(lang='en')
	head
		title !{locals.title}
		style
			include ../styles/main.css
	body
		.title
			.title_text Pic2Learn
			img.logo(src='https://s15.postimg.cc/n2ki0p4rr/pic2learn_icon.png')