doctype html
html(lang='en')
	head
		meta( name='viewport', content='width=device-width, initial-scale=1' )
		title !{locals.title}
		style
			include ../styles/main.css
	body
		.title
			.title_text Pic2Learn
			img.logo(src='https://s15.postimg.cc/n2ki0p4rr/pic2learn_icon.png')