include header.pug
.flex.flashcard 
	//- 
		TODO: the image will go here
	img.img(src='https://placeimg.com/640/480/animals')

	//div.firstrow.p current language is !{JSON.stringify(locals.language)} 
	div.secondrow 
		each val,index in locals.translations
			.flex.p !{JSON.stringify(locals.translations[index].to)} :
			.flex.translationtitle !{JSON.stringify(locals.translations[index].text)}
script(type='text/javascript' src='scripts/shared.js')