include header.pug
.flex.flashcard 
	//- 
		TODO: the image will go here
	img.render_image(src='https://placeimg.com/640/480/animals')
	div.secondrow 
		each val,index in locals.translations
			.flex
				.translationtitle !{locals.translations[index].text}
				.p (!{locals.translations[index].to})
script(type="text/javascript" src="scripts/shared.js")