
.title {
	font-family: 'Helvetica Neue',sans-serif;
	display: flex;
	font-size: 18px;
}

.logo {
	height: 50px;
	width: 50px;
}

.title_text {
	line-height: 50px;
	color: white;
}

.flex {
	display: flex;
}

.render_image {
	width: 130px;
	height: 130px;
}

body{
	background-color: #2E404E;
}

.flashcard {
	border: 1px solid lightgrey;
	width: 80%;
	min-width: 280px;
    border-radius: 3%;
    height: 50%;
	padding: 10px;
	background-color: white;
}

.other_translations {
	
}

h1 { color: white; font-family: 'Trocchi', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
}

.translationtitle { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
}

h2 { color: white; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px; margin: 10 10 72px; text-align: left; }
	
.p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; 
}	

